body {
  background-color: #f8f6f3;
}

@font-face {
  font-family: "flame-regular";
  src: url("flame-regular.otf") format("opentype");
}

.header-logo {
  /* margin-left: 80px; */
  width: 80px;
  height: 80px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  background-color:white;

  font-family: "flame-regular";
}

/* TOGGLE BUTTON */

.toggle {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #e70;
  width: 45px;
  height: 24px;
  margin-top: 8px;
  /* margin-left: 10px; */
  border-radius: 200px;
  box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.toggle-button {
  float: right;
  background-color: white;
  width: 18px;
  height: 17.7px;
  margin-right: 5px;
  border-radius: 800px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  /* Added box-shadow for outer shadow */
}

.navbar {
  font-size: 16px;
  letter-spacing: 0.2px;
  color: #e70;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8d6a26;
  width: 310px;
  height: 42px;
  margin-left: 10px;
  border-radius: 200px;
}

.search-text {
  font-family: "FlameSans-Regular", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-stretch: 100%;
  font-variation-settings: normal;
  font-feature-settings: normal;
  text-transform: none;
  text-decoration: none solid #000000;
  text-align: start;
  text-indent: 0px;
  color: rgb(63, 63, 63);

  /* Spacing */
  line-height: normal;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  padding: 4px 10px 0px;

  transform: scaleY(0.9);
}

.card-title {
  margin-top: 20px;
  margin-left: 110px;
}

.menu-section {
  font-family: "flame-regular";
  font-size: 18px;
}

.menu-background {
  width: 100%;
  height: 350px;
}

.menu-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 113px;
}

/* IMAGE DIV STARTS FROM HERE BELOW */

.img-1-div {
  width: 114px;
  text-align: center;
}

.img-2-div {
  width: 114px;
  text-align: center;
}

.img-3-div {
  width: 114px;
  text-align: center;
}

.img-4-div {
  width: 114px;
  text-align: center;
}

.img-5-div {
  width: 114px;
  text-align: center;
}

.img-6-div {
  width: 114px;
  text-align: center;
}

.img-7-div {
  width: 114px;
  text-align: center;
}

.img-8-div {
  width: 114px;
  text-align: center;
}

.img-9-div {
  width: 120px;
  text-align: center;
}

/* IMAGE DIV ENDS  HERE */

.img-1 {
  width: 114px;
  height: 112px;
  background-color: white;
  border-radius: 5px;
}

.img-2 {
  width: 114px;
  height: 112px;
  background-color: white;
  border-radius: 5px;
}

.img-3 {
  width: 114px;
  height: 112px;
  background-color: white;
  border-radius: 5px;
}

.img-4 {
  width: 114px;
  height: 112px;
  background-color: white;
  border-radius: 5px;
}

.img-5 {
  width: 114px;
  height: 112px;

  background-color: white;
  border-radius: 5px;
}

.img-6 {
  width: 114px;
  height: 112px;
  background-color: white;
  border-radius: 5px;
}

.img-7 {
  width: 114px;
  height: 112px;
  background-color: white;
  border-radius: 5px;
}

.img-8 {
  width: 114px;
  height: 112px;
  background-color: white;
  border-radius: 5px;
}

.img-9 {
  width: 114px;
  height: 112px;
  background-color: white;
  border-radius: 5px;
}

/* IMAGE ELEMENTS ENDS HERE BELOW */

@media (max-width: 702px) {
  .menu-background {
    height: 1100px;
  }
}

@media (min-width: 596px) {
  .menu-background {
    height: 800px;
  }
}

@media (max-width: 475px) {
  .menu-background {
    height: 1750px;
  }
}

@media (min-width: 815px) {
  .menu-background {
    height: 580px;
  }
}

@media (min-width: 1279px) {
  .menu-background {
    height: 350px;
  }
}

/* EXPLORE MENU */

.explore-menu {
  background-color: #e70;
  width: 344px;
  height: 49px;
  /* margin-top: 41px; */
  border-radius: 200px;
  /* margin-left: 589px; */
  color: #ffffff;
  font-family: "Flame-Regular", sans-serif;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;

  font-weight: 400;
}

.explore-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  /* gap: 50px; */
}

/* .explore-image{
  width: 1250px;
} */


.explore-image {
  width: 1255px;
  max-width: 100%;
  height: auto;
}









.footer-section{
  display: flex;
  flex-wrap: wrap;
  background-color: #323231;
  margin-top: 50px;
  width: 100%;

  width: auto;
}



/* FOOTER STARTS FROM HERE */

.footer-container {
  background-color: #323232;
  width: 1519px;
  height: 303px;
  color: rgb(170, 170, 170);
  display: flex;

  font-family: "FlameSans-Regular", sans-serif;
  font-size: 13px;
  line-height: 24.05px;
  letter-spacing: normal;
  word-spacing: -2px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-stretch: 100%;
  font-variation-settings: normal;
  font-feature-settings: normal;
  text-transform: none;
  text-decoration: none;
}

ul li:not([class]) {
  filter: blur(0.45px);
  color: rgb(213, 213, 213);
}

ul,
ol {
  list-style-type: none;
}

.list-title {
  color: rgb(255, 255, 255);
  font-family: "Flame-Regular", sans-serif;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.3px;
  word-spacing: 0px;
  margin: 0;
  padding: 0 0 20px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-stretch: 100%;
  font-variation-settings: normal;
  font-feature-settings: normal;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 74px;
}

.app-store {
  position: left;
}

.google-play {
  margin-left: 12px;
}

.bk-info {
  margin-left: 71px;
}

.contact {
  position: left;
  margin-left: 82px;
}

.bk-cares {
  margin-left: 91px;
}

.legal {
  margin-left: 88px;
}

.download {
  margin-left: 80px;
}

.footer-2 {
  background-color: #323231;
  width: 1519px;
  height: 120px;
}

.hr-line {
  display: flex;
  background-color: rgb(85, 85, 85);
  width: 1335px;
  height: 1.5px;
  margin-left: 88px;
}

.bottom-icon {
  display: flex;
  width: 38px;
  height: 36px;
  margin-left: 123px;
  size: 50px;
  margin-top: 28px;
}

.bottom-container {
  display: flex;
}

.bottom-text {
  display: flex;
  margin-left: 507px;
  margin-top: -50px;
  color: white;

  font-family: "Flame-Regular", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-variant: normal;
  font-stretch: 100%;
  line-height: 24px;
  letter-spacing: 0.8px;
  word-spacing: 0px;
  text-transform: none;
  text-decoration: none;

  font-kerning: auto;
  font-optical-sizing: auto;
  font-variation-settings: normal;
  font-feature-settings: normal;
}

.social-media-icons {
  display: flex;
  margin-left: 1204px;
  margin-top: -59px;
}

.instagram {
  margin-left: 20px;
}

.twitter {
  margin-left: 20px;
}

.youtube {
  margin-left: 20px;
}


